{% extends 'registration/nav_foo.html' %}
{% block nav_foo %}
{% load bootstrap4 %}

<div class="Login">
  <div class="container">
    <h1>Reset password</h1>
    <form method="post">
      {% csrf_token %}
      {% if form.email.errors %}
      {{ form.email.errors }}
      {% endif %}
      {% bootstrap_form form.email %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">Reset password</button>
      {% endbuttons %}
    </form>
    <div class="links">
      <a href="/">Home</a>
    </div>

  </div>

</div>

{% endblock nav_foo %}

