{% extends 'base.html' %}
{% load static %}
{% block base %}

  <div class="profile">
    <div class="container">
      <div class="box">
        <div class="profile_img">
          {% if profile.image %}
          <img src="{{profile.image.url}}" alt="profile_img" />
          {% else %}
          <img src="{% static 'img/eslam.jpg' %}" alt="profile_img" />
          {% endif %}
        </div>
        <div class="profile_info">
          <h1>{{profile.user.username}}</h1>
          <p><i class="fa-solid fa-address-card"></i> {{profile.about_text}}</p>
          <p><i class="fa-solid fa-paper-plane"></i> {{profile.user.email}}</p>
          <p><i class="fa-solid fa-mobile-screen-button"></i> +{{profile.phone}}</p>
          <p><i class="fa-solid fa-location-dot"></i> {{profile.address}}</p>
        </div>
        <div class="user">
          <a href="{% url 'users:edit_profile' %}"><i class="fa-solid fa-pen-to-square"></i></a>
          <a href="{% url 'password_change' %}"><i class="fa-solid fa-lock"></i></a>
          <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
        </div>

      </div>
    </div>
  </div>




  
{% endblock base %}
