{% extends 'registration/nav_foo.html' %}
{% block nav_foo %}
{% load bootstrap5 %}
<div class="Login">
  <div class="container">
    <h1>Sing up</h1>
    <!-- <p>This Name already exists</p>
      <p>This Email already exists</p> -->
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">Create</button>
      {% endbuttons %}
    </form>
    <div class="links">
      <a href="#">Login</a>
    </div>

  </div>

</div>

{% endblock nav_foo %}